.controls {
  display: flex;
  justify-content: center;
  gap: 20px;

  &__pag {
    display: flex;
    justify-content: center;
    gap: 20px;
    order: 2;
  }

  &__arrow {
    width: 30px;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;

    &.arrow-left {
      background-image: url("../assets/svg/arrow-left.svg");
    }

    &.arrow-right {
      background-image: url("../assets/svg/arrow-right.svg");
      order: 7;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(0) saturate(100%) invert(34%) sepia(73%) saturate(2735%) hue-rotate(194deg) brightness(98%) contrast(105%);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__pag-input {
    position: absolute;
    opacity: 0;

    &:hover + .controls__pag-label {
      cursor: pointer;
    }

    &:checked + .controls__pag-label {
      color: $blue;
      border: 1px solid $blue;
      border-radius: 50%;
    }
  }

  &__pag-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: $dark-grey;
    border: 1px solid $light-grey;
    border-radius: 50%;
  }
}

@media (max-width: $tablet) {
  .controls {
    flex-direction: column;

    &__pag {
      order: 3;
      gap: 10px;
    }

    &__arrow {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      width: 20%;
      filter: none;
      background-position: center;
      background-size: 20px;

      &.arrow-left {
        left: -20px;
        background-image: url("../assets/svg/arrow-info.svg");
        transform: scale(-1, 1);
      }
      
      &.arrow-right {
        order: 2;
        right: -20px;
        background-image: url("../assets/svg/arrow-info.svg");
      }
    }

    &__pag-label {
      width: 10px;
      height: 10px;
      background-color: $dark-grey;
    }

    &__pag-input { 
      &:checked + .controls__pag-label {
        background-color: $blue;
      }
    }
  }
}