.slider {
  position: relative;
  margin: $margin-a;

  &__list {
    display: flex;
    justify-content: start;
  }

  &-item__content {
    width: 700px;
  }
}

@media (max-width: $tablet) {
  .slider {
    &-item__content {
      width: 400px;
      height: auto;
    }
  }
}

@media (max-width: $mobile-max) {
  .slider {
    &-item__content {
      width: 280px;
      height: auto;
    }
  }
}
