.trigger {
  display: none;

  &:checked ~ .trigger-content {
    display: flex;
    height: fit-content;
  }

  &:checked ~ .trigger-value > .trigger-icon {
    transform: scale(1, -1);
  }
}

.trigger-value {
  transition: 0.3s;

  &:hover .trigger-icon {
    text-shadow: 0 0 5px $white;
    filter: brightness(0) saturate(100%) invert(34%) sepia(93%) saturate(2301%)
      hue-rotate(219deg) brightness(103%) contrast(90%);
  }

  .trigger-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-left: 25px;
    vertical-align: middle;
    background-image: url("../assets/svg/arrow-down.svg");
    background-size: cover;
  }
}

@media (max-width: $desktop-mid) {
  .trigger-value {
    .trigger-icon {
      margin-left: 5px;
    }
  }
}
