.benefits-item_wrapper {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 470px;
  padding: 50px;

  .header {
    max-width: 350px;
  }

  .benefits-item__link {
    margin-top: auto;
  }
}

@media (max-width: $desktop-min) {
  .benefits-item_wrapper {
    height: fit-content;

    .header {
      max-width: 300px;
    }
  }
}
