.button {
  border: none;

  &.big-button {
    padding: $but-b-pad;
    background-color: $blue;
    border-radius: 62px;
  }

  &.tools__login {
    padding: $but-sm-pad;
    background-color: $white;
    border-radius: 28px;
    box-shadow: 0 0 10px rgba($black, 0.1);
  }
}
