.button {
  border: none;

  &.big-button {
    padding: $but-b-pad;
    background-color: $blue;
    border-radius: 62px;
  }

  &.tools__login {
    padding: $but-sm-pad;
    background-color: $white;
    border-radius: 28px;
    box-shadow: 0 0 10px rgba($black, 0.1);
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba($blue, 0.5);
    transform: scale(1.03);
  }
}

@media (max-width: $desktop-mid) {
  $but-b-pad: 30px 40px;
  $but-sm-pad: 10px 30px;

  .button {
    &.big-button {
      padding: $but-b-pad;
    }

    &.tools__login {
      padding: $but-sm-pad;
    }
  }
}

@media (max-width: $mobile-max) {
  $but-b-pad: 20px 30px;

  .button {
    &.big-button {
      padding: $but-b-pad;
    }
  }
}
