.body {
  margin: 0;
  padding: 0;
  background-color: $light-grey;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.container {
  max-width: $desktop-min;
  margin: $margin-a;
  padding: 0 40px;
}

.list {
  padding: 0;
}

.list-item {
  list-style: none;
}

@media (max-width: $desktop-min) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: $tablet) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}