.input {
  box-sizing: border-box;
  border: none;

  &.search__input {
    width: $input-sm-w;
    padding: 14px 38px;
    border-radius: 28px;
    box-shadow: 0 0 10px $blue;
  }

  &.login-form__input {
    width: $input-big-w;
    padding: 23px 48px;
    background-color: $light-grey;
    border-radius: 52px;
  }
}

@media (max-width: $desktop-mid) {
  $input-big-w: 500px;

  .input {
    &.login-form__input {
      width: $input-big-w;
    }
  }
}

@media (max-width: $tablet) {
  $input-big-w: 100%;

  .input {
    &.login-form__input {
      width: $input-big-w;
      padding: 16px 30px;
    }

    &.search__input {
      padding: 15px 30px;
    }
  }
}
