$desktop-max: 1920px;
$desktop-min: 1200px;
$tablet: 768px;
$mobile-max: 400px;
$mobile-min: 320px;

$margin-a: 0 auto;

$black: #000000;
$white: #ffffff;
$blue: #007dfb;
$purple: #5271f3;
$light-grey: #f3f4f6;
$dark-grey: #707070;

$header-1: 96px;
$header-2: 35px;
$header-3: 30px;
$header-4: 25px;

$text-des: 22px;
$text-but-b: 30px;
$text-link: 18px;
$text-nav-form: 25px;
$text-tools: 20px;

$but-b-pad: 44px 59px;
$but-sm-pad: 17px 38px;

$input-big-w: 640px;
$input-sm-w: 370px;
