.nav-item:nth-child(4) {
  .nav-item__button {
    &:checked ~ .list-item__submenu {
      display: flex;
    }

    &:checked ~ .nav-item__link {
      .trigger-icon {
        filter: brightness(0) saturate(100%) invert(44%) sepia(28%)
          saturate(2209%) hue-rotate(202deg) brightness(95%) contrast(100%);
      }
    }
  }

  .nav-item__link {
    .trigger-icon {
      filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7%)
        hue-rotate(322deg) brightness(108%) contrast(100%);
    }

    &:hover {
      .trigger-icon {
        filter: brightness(0) saturate(100%) invert(44%) sepia(28%)
          saturate(2209%) hue-rotate(202deg) brightness(95%) contrast(100%);
      }
    }
  }

  .list-item__submenu {
    position: absolute;
    top: 50px;
    left: -100px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    width: calc(100% + 200px);
    padding: 50px 45px;
    background-color: rgba($white, 0.3);
    border-radius: 42px;
    box-shadow: 0 0 10px rgba($dark-grey, 0.3);
    backdrop-filter: blur(50px);

    .submenu-item {
      width: 345px;
    }
  }
}
