.nav {
  &__tools {
    position: relative;

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }
  }

  .tools {
    &__settings-button {
      opacity: 0;
      position: absolute;
    }

    &__settings.open-settings {
      position: absolute;
      top: 50px;
      right: 0;
      display: flex;
      width: fit-content;
    }

    &__settings-icon {
      display: none;
      width: 25px;
      height: 25px;
      margin-left: auto;
      background-image: url("../assets/svg/settings.svg");
      background-size: cover;
      filter: brightness(0) saturate(100%) invert(42%) sepia(50%) saturate(0%)
        hue-rotate(219deg) brightness(95%) contrast(103%);
  
      &:hover {
        transform: rotate(30deg);
      }
    }

    &__settings {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  .settings {
    &__lang {
    position: relative;
    display: flex;
    flex-direction: row;
    }

    &__search {
      width: 15px;
      height: 15px;
      margin-right: 0;
    }
  }

  .lang {
    &__wrapper {
      position: absolute;
      top: 2.2rem;
      left: -25%;
      display: none;
      padding: 25px;
      background-color: rgba($black, 0.2);
      border-radius: 42px;
      backdrop-filter: blur(20px);

      &.open-lang {
        display: block;
        height: fit-content;
      }
    }

    &__trigger {
      display: none;
    }

    &__value {
      display: block;
      width: 130px;
    }

    &__lang-list {
      max-height: 200px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      transition: 0.3s;
    }
  }

  .lang-list {
    &__input {
      display: none;

      &:checked + .lang-list__label::after {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("../assets/svg/check.svg");
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(106%) contrast(102%);
        content: "";
      }
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: $white;

      &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(1272%) hue-rotate(215deg) brightness(98%) contrast(94%);
      }
    }
  }

  .search {
    &__input-wrapper {
      position: absolute;
      top: 4.5rem;
      left: 0;
      display: none;
      width: fit-content;
      height: fit-content;

      .search__icon {
        top: 20px;
        right: 15px;
      }
    }

    &__input {
      outline: none;

      &:focus {
        border: 1px solid $blue;
        box-shadow: 0 0 10px rgba($dark-grey, 0.3);
      }
    }

    &__button {
      position: absolute;
      opacity: 0;

      &:checked ~ .search__input-wrapper {
        display: block;
      }
    }

    &__icon {
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../assets/svg/search.svg");
      background-size: contain;
    }
  }
}

@media (max-width: $desktop-max) {
  .nav {
    .lang {
      &__wrapper {
        width: 100px;
        right: -35%;
      }
    }
  }
}

@media (max-width: $desktop-min) {
  .nav {
    .tools {
      &__settings {
        display: none;
      }
  
      &__settings-icon {
        display: block;
      }

      .search {
        width: 15px;
        height: 15px;
        margin-right: 0;

        &__input-wrapper {
          left: -180px;
          top: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .nav {
    .tools {
      margin-top: auto;

      &__settings {
        display: flex;
      }

      &__settings-icon {
        display: none;
      }

      .search {
        &__input-wrapper {
          top: -4rem;
          left: 0;
        }
      }
    }

    .lang {
      &__wrapper {
        top: -210px;
      }
    }
  }
}