.nav {
  &__tools {
    position: relative;

    &_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }

    .tools__lang {
      position: relative;
      display: flex;
      flex-direction: row;

      .tools__lang_wrapper {
        position: absolute;
        top: 2.2rem;
        right: -40%;
        display: none;
        padding: 25px;
        background-color: rgba($black, 0.2);
        border-radius: 42px;
        backdrop-filter: blur(20px);
      }

      &-list {
        max-height: 200px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: fit-content;
        
        transition: 0.3s;

        .lang-input {
          display: none;

          &:checked + .lang__label::after {
            position: relative;
            display: inline-block;
            width: 15px;
            height: 15px;
            background-image: url("/src/assets/svg/check.svg");
            background-size: contain;
            background-repeat: no-repeat;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(106%) contrast(102%);
            content: "";
          }
        }

        .lang__label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100px;

          &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(1272%) hue-rotate(215deg) brightness(98%) contrast(94%);
          }
        }
      }

      &-trigger {
        display: none;

        &:checked ~ .tools__lang_wrapper {
          display: block;
          height: fit-content;
        }
      }
    }

    .tools__settings {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .tools__search {
      width: 15px;
      height: 15px;
      margin-right: 0;

      .search-input_wrapper {
        position: absolute;
        top: 3rem;
        right: 0;
        display: none;
        width: fit-content;
        height: fit-content;

        .search-input {
          outline: none;

          &:focus {
            border: 1px solid $blue;
            box-shadow: 0 0 10px rgba($dark-grey, 0.3);
          }
        }

        .search-icon {
          top: 20px;
          right: 15px;
        }
      }

      .search-button {
        position: absolute;
        opacity: 0;

        &:checked ~ .search-input_wrapper {
          display: block;
        }
      }

      .search-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url("/src/assets/svg/search.svg");
        background-size: contain;
      }
    }
  }
}

@media (max-width: $desktop-min) {
  .nav__tools {
    .tools__settings {
      display: none;
    }
  }
}

@media (max-width: $tablet) {
  .nav {
    &__tools {
      margin-top: auto;
      margin-left: auto;

      .tools__lang {
        &-list {
          top: -200px;
        }
      }

      .tools__settings {
        display: flex;
      }
    }

    .tools__search {
      .search-input_wrapper {
        top: -4rem;
        left: 0;

        .search-input {
          outline: none;

          &:focus {
            border: 1px solid $blue;
            box-shadow: 0 0 10px rgba($dark-grey, 0.3);
          }
        }

        .search-icon {
          right: -32px;
        }
      }
    }
  }
}