.about {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/price-back.png");
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: auto;
    content: "";
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    margin-bottom: 60px;
  }

  &__benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .benefits-list {
    &__item {
      display: flex;
      gap: 26px;
    }
  }

  .benefits-item {
    &__info {
      max-width: 500px;
      padding: 50px 0 50px 50px;
    }

    &__description {
      width: 450px;
    }

    &__link {
      width: fit-content;
      background-color: transparent;
      border: none;
    }

    &:nth-child(1n) {
      .benefits-item__image {
        mask: url("../assets/svg/mask-about.svg");
        -webkit-mask: url("../assets/svg/mask-about.svg");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100%;
        -webkit-mask-size: contain;
      }
    }

    &:nth-child(2n) {
      .benefits-item__info {
        order: 2;
      }

      .benefits-item__image {
        order: 1;
        mask: url("../assets/svg/mask-about_revert.svg");
        -webkit-mask: url("../assets/svg/mask-about_revert.svg");
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100%;
        -webkit-mask-size: contain;
      }
    }
  }
}

@media (max-width: $desktop-min) {
  .about {
    &__benefits-list {
      gap: 50px;

    }

    .benefits-list {
      &__item {
        flex-direction: column;
        gap: 20px;
      }
    }

    .benefits-item {
      &__info {
        order: 2;
        padding: 0;
      }
    }
  }
}

@media (max-width: $tablet) {
  .about {
    &__description {
      margin-bottom: 30px;
    }

    &__benefits-list {
      width: 100%;
    }

    .benefits-list {
      &__item { 
        align-items: center;
      }
    }
  
    .benefits-item {
      &__image {
        max-width: 476px;
        width: 100%;
        height: auto;
      }

      &__description {
        max-width: 476px;
        width: fit-content;
      }
    }
  }
}