.login {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 399;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw);
  transition: 0.5s;
  
  &.open {
    transform: translateX(0);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    backdrop-filter: blur(4px);
    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    content: "";
    mask: url("../assets/svg/mask.svg") 0/100% 100%,
      linear-gradient(#ffffff, #ffffff);
    mask-composite: destination-out;
    mask-repeat: no-repeat;
    -webkit-mask: url("../assets/svg/mask.svg") 0/100% 100%,
      linear-gradient(#ffffff, #ffffff);
    -webkit-mask-composite: destination-out;
    -webkit-mask-repeat: no-repeat;
  }

  .container {
    position: relative;
    z-index: 199;
  }

  &__login-header {
    margin: 80px 0;
  }

  &__caption {
    margin-bottom: 40px;
  }

  &__close-icon {
    position: absolute;
    top: 20px;
    right: 20%;
    z-index: 302;
    width: 20px;
    height: 20px;
    background-color: transparent;

    &:hover {
      filter: brightness(0) saturate(100%) invert(58%) sepia(70%) saturate(7359%) hue-rotate(196deg) brightness(99%) contrast(102%);
    }
  }

  .close-icon {
    display: block;

    &__input {
      position: absolute;
      z-index: 299;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      &:hover {
        cursor: pointer;
      }
    }

    &::before {
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: rgba($black, 0.1);
      filter: blur(5px);
      content: "";
    }

    &__parts {
      display: block;
      width: 15px;
      height: 3px;
      background-color: $white;

      &:nth-child(1) {
        transform: translateY(3px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: $tablet) {
  .login {
    transform: translateX(0) translateY(100vh);
    background-size: 150%;
    background-position: 100% -30%;
    &::after {
      mask: url("../assets/svg/mask-top.svg") 0/100% 100%,
        linear-gradient(#ffffff, #ffffff);
      mask-size: cover;
      mask-position: 60%;
      -webkit-mask: url("../assets/svg/mask-top.svg") 0/100% 100%,
        linear-gradient(#ffffff, #ffffff);
      -webkit-mask-size: cover;
      -webkit-mask-position: 60%;
    }

    &.open {
      transform: translateY(0);
    }

    &__login-header {
      margin-bottom: 0;
      margin-top: 40px;
    }
  
    &__caption {
      margin-bottom: 40px;
    }

    .close-icon {
      top: 130px;
      left: 75%; 
    
      &__parts {
        background-color: $blue;
      }
    }
  }
}