.login {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  width: 96vw;
  height: 100vh;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    height: 100%;
    background: $white;
    content: "";
    mask: url("/src/assets/svg/mask.svg") 0/100% 100%,
      linear-gradient(#ffffff, #ffffff);
    mask-composite: destination-out;
    mask-repeat: no-repeat;
    -webkit-mask: url("/src/assets/svg/mask.svg") 0/100% 100%,
      linear-gradient(#ffffff, #ffffff);
    -webkit-mask-composite: destination-out;
    -webkit-mask-repeat: no-repeat;
  }

  .container {
    position: relative;
    z-index: 199;
  }
}

.close-icon {
  position: absolute;
  top: 70px;
  left: calc(60vw + 240px);
  z-index: 199;
  width: 20px;
  height: 20px;

  .close-icon__input {
    position: absolute;
    z-index: 299;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
  }

  .login-close {
    display: block;
    width: 15px;
    height: 3px;
    background-color: $white;

    &:nth-child(2) {
      transform: translateY(3px) rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
